body{
  background-color: black;
}

h2{
  font-family: Helvetica;
  font-weight: 800;
  font-size: 40px;
  line-height: 10px;
}

h3{
  font-family: Helvetica;
  font-weight: 600;
  font-size: 25px;
  line-height: normal;
  margin-bottom: 0;
  margin-top: 30px;
}

h4{
  font-family: Helvetica;
  font-weight: 600;
  font-size: 25px;
  line-height: normal;
}

h5{
  font-family: Helvetica;
  font-weight: 800;
  font-size: 25px;
  line-height: normal;
}

header{
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  background-color: black;
  display: flex;
  align-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 1;
}

#main-nav{
  overflow: hidden;
  position: fixed;
  top: 0;
}

img[src="/Users/ronnykim/Documents/GitHub/Tea-Cozy/img/img-tea-cozy-logo.webp"] {
  height: 50px;
}


.mission{
  text-align: center;
  height: 700px;
  width: auto;
}

#text-mission{
  width: 100%;
  background-color: black;
  text-align: center;
  font-family: helvetica;
  color: seashell;
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#logo{
  max-height: 50px;
  width: 50%;
  margin-left: 10px;
  align-items: stretch;
}

.nav{
  width: 50%;
  justify-items: flex-end;
  text-align: right;
  align-content: center;
}

li{
  justify-items: space;
  padding-left: 20px;
  padding-right: 20px;

}

.links{
  text-decoration: underline;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  display: inline-flex;
  list-style-type: none;
}


.tea-selections{
  width: 1000px;
  margin: auto;
  text-align: center;
  font-family: Helvetica;
  color: seashell;
  margin-top: 200px;
  margin-bottom: 100px;
}

.tea-of-the-month{
  text-align: center;
  width: 50%;
}

#tea-items{
  padding: 0;
}

.tea{
  list-style-type: none;
  display: grid;
  place-items: center;
  gap: 1rem;
  padding-left: 0px;
}

.row1, .row2 {
  display: flex;
  gap: 1rem;
}   

#tea-type{
  font-size: 20px;
  margin-top: 10px;
}

.locations{
    width: auto; /* or any custom size */
    height: 500px; 
    background-image: url('/Users/ronnykim/Documents/GitHub/Tea-Cozy/img/img-locations-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    align-content: center;
    margin-bottom: 10px;
  }


#location-list{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
}

#location-title{
  text-align: center;
  color: seashell;
  padding-bottom: 15px;
}

#info{
  font-family: Helvetica;
  font-weight: 200;
  font-size: 20px;
  color: seashell;
  opacity: 1;
  line-height: normal;
  list-style-type: none;
  text-align: center;
  line-height: 3rem;
  align-items: center;
}

.address{
  padding-left: 0px;
  margin-top: 10px;
}

#downtown{
  font-family: Helvetica;
  font-weight: 600;
  font-size: 25px;
  color: seashell;
  background-color: black;
  width: 300px;
  align-items: center;
  text-align: center;
  margin-bottom: 0;
}

#east-bayside{
  font-family: Helvetica;
  font-weight: 600;
  font-size: 25px;
  color: seashell;
  background-color: black;
  width: 300px;
  align-items: center;
  text-align: center;
  margin-bottom: 0;
}

#oakdale{
  font-family: Helvetica;
  font-weight: 600;
  font-size: 25px;
  color: seashell;
  background-color: black;
  width: 300px;
  align-items: center;
  text-align: center;
  margin-bottom: 0;
}

.contact{
  height: 200px;
  text-align: center;
  align-items: center;
  color: seashell;
}

#contact-title{
  padding-bottom: 20px;
}

footer{
  padding-left: 20px;
  text-align: left;
  color: seashell;
}